main {
	display: flex;
	flex-direction: column;
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 20px;
}

section {
	width: 85%;
	/*border: 1px solid black; */
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
	border-radius: 22px;
	background: linear-gradient(145deg, #f6faff, #cfd3d8);
	box-shadow: 6px 6px 10px #a8abaf, -6px -6px 10px #ffffff;
}

.content {
	min-height: 200px;
}

.biome-image {
	width: 300px;
	height: 169px;
	margin-right: 0px;
}

.torch {
	width: 10px;
	height: 28px;
	margin-left: 3px;
	margin-right: 3px;
}

figcaption {
	display: inline;
	max-width: 50%;
}

figure {
	display: inline;
	float: right;
}

.split-box {
	max-width: 50%;
}

.description {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.statistics-and-voting {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.voting {
	/* min-width: 38%; */
}

.heading {
	font-size: 1.3em;
	font-weight: bold;
}

.title {
	border: 0;
	font-size: 2.3em;
	font-weight: bold;
}

.label {
}
