.App {
	display: grid;
	grid-template-columns: [nav] 15% [main] auto;
	row-gap: 15px;
}

header {
	width: 100%;
	grid-column-start: 1;
	grid-column-end: span 2;
	font-size: 2em;
	font-weight: bold;
	padding: 10px;
	/*
	background-color: #6b7ab2;
	border-bottom: 2px solid black; */
}

/* This fills in the void from the removed nav bar on launch page */
#empty-space {
	grid-row-start: 2;
	grid-row-end: span 3;
}

#get-started {
	font-size: 3em;
	margin: auto;
}

.nav-title {
	padding-left: 15px;
}

.navigation {
	font-size: 1.2em;
	margin-bottom: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 5px;
	padding-left: 15px;
	/*
	border: 1px solid #000000;
	background-color: white;
	border-radius: 12px;
	box-shadow: 2px 2px 2px #6e8291; */
}

.visible-nav-bar {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-left: 0px;
	margin-top: 20px;
	animation: slidein 1s linear 0s;
}

@keyframes slidein {
	from {
		width: 20px;
	}
	to {
		width: 100%;
	}
}

@keyframes slideout {
	from {
		width: 100%;
	}
	to {
		width: 20px;
	}
}

@keyframes fadeTextIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes fadeTextOut {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

nav div.navigation-links div.navigation:hover {
	background-color: #6598e6;
	border-radius: 0px 17px 17px 0px;
}

.navigation-links {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	animation: fadeTextIn 1s linear 0.5s;
	padding-top: 20px;
	grid-row-start: 2;
	grid-row-end: span 3;
	opacity: 1;
}

.hidden-nav-bar {
	margin-top: 20px;
	width: 20px;
	animation: slideout 1s linear 0s;
}

.clickable {
	cursor: pointer;
}

footer {
	font-size: 1.3em;
	grid-column-start: 2;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 40px;
	margin-left: auto;
	margin-right: auto;
	width: 30%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.navigation-bottom-button {
	display: inline;
	padding: 10px;
	user-select: none;
}

/* Registration page - only appears if this appears to be a new user */
#registration {
}

.warning {
	display: inline-block;
	color: red;
	font-weight: bold;
	margin-left: 10px;
}

.hidden {
	display: none;
}

body,
html {
	margin: 0px;
	height: 100%;
	box-sizing: border-box;
	/* background-color: #9bb9d1;*/
	background-color: #d4deed;
	color: black;
}

.neumorphism-blue {
	border-radius: 17px;
	background: linear-gradient(145deg, #78b5ff, #6598e6);
	box-shadow: 4px 4px 10px #416294, -4px -4px 10px #9ff0ff;
}

.neumorphism-white {
	border-radius: 22px;
	background: linear-gradient(145deg, #f6faff, #cfd3d8);
	box-shadow: 6px 6px 10px #a8abaf, -6px -6px 10px #ffffff;
}

.neumorphism-inset {
	border-radius: 0px 17px 17px 0px;
	background: #f6faff;
	box-shadow: inset 7px 7px 63px #cacdd1, inset -7px -7px 63px #ffffff;
}

@media screen and (min-width: 1200px) {
	main {
		font-size: 1.3em;
		width: 70%;
		margin-left: 5%;
	}
}
