.App {
	display: grid;
	grid-template-columns: [nav] 15% [main] auto;
	row-gap: 10px;
}

header {
	width: 100%;
	grid-column-start: 1;
	grid-column-end: span 2;
	font-size: 2em;
	font-weight: bold;
	background-color: #6b7ab2;
	border-bottom: 2px solid black;
	padding: 10px;
}

footer {
	grid-column-start: 2;
	text-align: center;
}

nav {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	grid-row-start: 2;
	grid-row-end: span 3;
	margin-left: 10px;
}

.navigation {
	border: 1px solid #000000;
	border-radius: 12px;
	font-size: 1.2em;
	background-color: white;
	padding: 2px;
	box-shadow: 2px 2px 2px #6e8291;
}

body,
html {
	margin: 0px;
	height: 100%;
	box-sizing: border-box;
	background-color: #9bb9d1;
	color: black;
}
